DATABASE_URL="postgres://username:password@localhost:8888/database"
BETTER_AUTH_SECRET=supersecret
BETTER_AUTH_URL=https://cari-masjid.gg-project.workers.dev/
SUPABASE_URL=https://supabase.co
SUPABASE_ANON_KEY=supersecret